Add Blob compression option

Compressing Blobs will save bandwidth and storage


There's a small problem with enabling compression for all blob stores. Some blob stores, particularly AWS S3, do not support streaming (chunked transfer encoding) and require content length. This makes compression "too expensive" in some cases.

Perhaps, for the beginning, it worth to enable compression just for the blob stores supporting chunked transfer encoding.


Deflate compression (RFC1951) seems to be natural fit due to a number of reasons:
1. It will be possible to serve deflated content over HTTP without decompression. According to RFC2616 correct implementation for HTTP Compression should be zlib/RFC1950 which is basically deflate+Adler checksum. However, real world tests show that most of the clients do support raw deflate defined in RFC1951 (see http://www.vervestudios.co/projects/compression-tests/results).
2. It will be possible to serve deflated content over IMAP without decompression. IMAP COMPRESS Extension (RFC4978) recognizes only deflate/RFC1951 type of compression
3. Deflate has better performance in comparison to Gzip and provides good trade off between size and speed.
